{% extends "base.html" %}

{% block body %}
<div class="flex flex-column justify-center items-center h-screen w-11/12 sm:w-8/12 md:w-1/2 lg:w-5/12 xl:w-2/6 2xl:w-1/4 mx-auto">
    <div class="w-full">
        <div class="mb-10">
            <a href="{{ url_for('main.index') }}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bookmarks-fill w-16 h-16 mx-auto" viewBox="0 0 16 16">
                    <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4z"/>
                    <path d="M4.268 1A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L13 13.768V2a1 1 0 0 0-1-1H4.268z"/>
                </svg>
            </a>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info mb-4">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block form %}{% endblock %}
    </div>
</div>
{% endblock %}